/* styles.css */
body {
    background-color: #f0f0f0; /* Light grey background for contrast */
}

h1 {
    text-align: center;
    color: #00827f; /* Apply color to the header */
}

p {
    text-align: center;
    color: #00827f; /* Apply color to the paragraph text */
}

div.Form, div.box {
    text-align: center;
    border: 2px solid #00827f; /* Add a border with the specified color */
    padding: 20px;
    margin: 20px;
}

div.output{
    text-align: center;
    border: 2px solid #00827f;
    padding: 20px;
    margin : 20px;
}

div.buttonSubmit{
    text-align: center;
    padding: 5px;
    margin: 5px;
}

#errorMessage{
    color: red;
    display: none;
    text-align: center;
}

input[type="text"] {
    border: 2px solid #00827f; /* Style the text input field */
    padding: 10px;
    margin: 10px;
}

input[type="submit"] {
    background-color: #00827f; /* Color the submit button */
    color: white; /* Text color on the button */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006d6a; /* Darker shade for hover effect */
}

#clearButton{
    background-color: #00827f; /* Color the submit button */
    color: white; /* Text color on the button */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: bottom;
}
